<nav *ngIf="topnavbar === true" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <a>
    <img src="./../../../assets/SalesTrendz-Logo3-1.png" class="img-fluid" width="75px" alt="">
  </a>
</nav>
<div *ngIf="sidenavbar === true" class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <a routerLink="/dashboard" routerLinkActive="active"
        class="list-group-item list-group-item-action bg-light">Dashboard</a>
      <a routerLink="/customer" routerLinkActive="active"
        class="list-group-item list-group-item-action bg-light">Customer</a>
    </div>
  </div>