<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th colspan="2">Order Details of {{currentCustomerDeatils.cust_name}}</th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th>Order Id</th>
      <th>Order Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of currentCustomerDeatils.orderDetails">
      <td>{{order.order_id}}</td>
      <td>{{order.order_name}}</td>
    </tr>
    <tr *ngIf="!currentCustomerDeatils.orderDetails">
      <td colspan="2">Seems like, This is a new customer, Dosen't ordered anything yet.</td>
    </tr>
  </tbody>
</table>