<app-navbar [topnavbar]="true"></app-navbar>
<div class="container-fluid">
  <div class="row" style="display: -webkit-box;">
    <div class="">
      <app-navbar [sidenavbar]="true"></app-navbar>
    </div>
    <div class="col-md-4">
      <div style="padding: 20px 0">
        <i class="fa fa-user-plus pointer" aria-hidden="true" (click)="addCustomerModel.show()"></i>
      </div>
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th>Customers</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customerList; let i = index" class="pointer">
            <td (click)="isButtonPannelShow = true; currentCustomerDeatils = customer">{{customer.cust_name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="isButtonPannelShow" class="col-md-1 pt62">
      <app-customer-actions (customerOrderEvent)="showOrderDetails(currentCustomerDeatils)"
        (customerDetailsEvent)="showCustDetails(currentCustomerDeatils)"
        (deleteCustomerEvent)="deleteCustomer(currentCustomerDeatils.cust_id)"
        [currentCustomerDeatils]="currentCustomerDeatils"></app-customer-actions>
    </div>
    <div *ngIf="isCustomerDetailsShow" class="col-md-4 pt62">
      <app-customer-details [currentCustomerDeatils]="currentCustomerDeatils"></app-customer-details>
    </div>
    <div *ngIf="isOrderDetailsShow" class="col-md-5 pt62">
      <app-customer-order-details [currentCustomerDeatils]="currentCustomerDeatils"></app-customer-order-details>
    </div>
  </div>
</div>

<div bsModal #addCustomerModel="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <app-add-customer [addCustomerModel]="addCustomerModel" (addCustomerEvent)="addNewCustomer($event)">
  </app-add-customer>
</div>